*.log
tags
vim/.netrwhist
vim/UltiSnips
vim/autoload/plug.vim
vim/autoload/plug.vim.old
vim/backup/
vim/plugged/
vim/rc/*.local.rc.vim
vim/rc/plugins/*.local.rc.vim
vim/tmp/
vim/tmp/viminfo.*
.DS_Store
vim/view/
.pre_commit_env/
